1.What are data structures, and why are they important

A: Data structures are ways to organize, manage, and store data efficiently.Lists, tuple, set, dictionary etc are used for accessing, manipulating data

2.Explain the difference between mutable and immutable data types with examples

A:Mutable data types can be changed eg: list, dictionary
  immutable cant be changed. eg: tuple, string

3.What are the main differences between lists and tuples in Python

A: lists are mutable, tuple are immutable

4.Describe how dictionaries store data

A: In key-value pairs. It is changeable, dont allow duplicates.

5.Why might you use a set instead of a list in Python

A: Sets are used when we don't want to allow duplicates, and to fetch element quickly.

6.What is a string in Python, and how is it different from a list

 A: Strings are immutable, list are mutable.

7.How do tuples ensure data integrity in Python

A: Doesnot allow to make changes, thus ensuring integrity

8.What is a hash table, and how does it relate to dictionaries in Python

 A: Hash table maps keys to values using a hash function. This function computes an index into an array of buckets or slots, from which the desired value can be found.

9.Can lists contain different data types in Python.

 A: Yes

10.Explain why strings are immutable in Python.

A:String does not support item assignment. We cannot update the string after declaring the immutability of string ,this is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.

11.What advantages do dictionaries offer over lists for certain tasks .

 A: Dictionary uses hashing table hence it is more optimised, its keys cannot be changed ensuring integrity

12.Describe a scenario where using a tuple would be preferable over a list.

A: Employee id, Govt. id proof

13.How do sets handle duplicate values in Python.

A: Sets are unordered collections of unique elements, it simply ignore the duplicates and retain only one instance of each unique value.

14.How does the “in” keyword work differently for lists and dictionaries.

 A: In list "in" checks whether the value exists as an element in the list, in dictionary it checks if that key is present.

15.Can you modify the elements of a tuple? Explain why or why not.

A: No, as it is immutable.

16.What is a nested dictionary, and give an example of its use case.

A: It is dictioary inside dictionary
eg: new= {d1: {'k1': 'v1'}, 'd2': {'k2': 'v2'}}. Useful for organising structured data, hierarchy.

17.Describe the time complexity of accessing elements in a dictionary

 A: It uses a hashmap, therefore O(n).

18.In what situations are lists preferred over dictionaries.

A: To maintain order, allow duplicates,ideal where repetition is key,quick access to elements by index, perfect for iteration. - Perfect for key-value pairs—associate unique keys with values.

19.Why are dictionaries considered unordered, and how does that affect data retrieval.

A: Dictionaries use hash function, so they are unordered. We can retrieve dictionary data using keys and not index.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

A: Dictionaries are unordered. We can retrieve dictionary data using keys and not index. Lists are ordered, data can be retrieved using index.

In [1]:
# 1.Write a code to create a string with your name and print it
str="Srinidhi Gajula"
print(str)

Srinidhi Gajula

In [2]:
#2.Write a code to find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
print("Python Programming"[0:3])

Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase
str="hello"
str.upper()

'HELLO'

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new = text.replace("apple", "orange")
print(new)

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [11]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100, 200, 300)
print(tuple)

(100, 200, 300)

In [12]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [13]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10, 20, 5, 15)
print(min(tuple))

5

In [14]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [16]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=("apple", "banana", "kiwi")
print("kiwi" in tuple)

True

In [52]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1={'a','b','c'}
print(set1)
set1.clear()

{'b', 'c', 'a'}

In [53]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)
set1.clear()

set()

In [54]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)
set1.clear()

{1, 2, 3}

In [58]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1, 2, 3}
b={3, 4, 5}
print(a | b)
a.clear()
b.clear()

{1, 2, 3, 4, 5}

In [57]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1, 2, 3}
b={3, 4, 2}
print(a & b)
a.clear()
b.clear()

{2, 3}

In [26]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"name":"Srinidhi", "age":23, "city":"Hyderabad"}
print(dict)

{'name': 'Srinidhi', 'age': 23, 'city': 'Hyderabad'}

In [31]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict['country']='USA'
dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [34]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict)

True

In [36]:
#Write a code to create a list, a tuple, and a dictionary, and print them all
list=[1,2,3]
print(list)
tuple=(1,2,3)
print(tuple)
dict={"name":"Meena", "age":25, "city":"Hyderabad"}
print(dict)

[1, 2, 3]
(1, 2, 3)
{'name': 'Meena', 'age': 25, 'city': 'Hyderabad'}

In [38]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
numbers = [random.randint(1, 100) for i in range(5)]
numbers.sort()
print(numbers)

[13, 21, 64, 72, 98]

In [39]:
#Write a code to create a list with strings and print the element at the third index.
list=["hyd", "blr","delhi","chennai"]
list[2]

'delhi'

In [40]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [60]:
#Write a code to convert a list of strings into a set
l=["hyd", "blr","delhi","chennai"]
del set
new_set = set(l)
new_set

{'blr', 'chennai', 'delhi', 'hyd'}